* {box-sizing: border-box;}

.cardo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 75vw;
    max-width: 400px;
    padding: 20px;
    background: #f1e3b9;
    border-radius: 20px;
    border-color: black solid 1px;
}

.cardo-img{
    max-width: 380px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 60px 40px rgb(0,0,0 /8%);
}
