.header{
    width: 100vw;
    background-color: rgb(238, 220, 169);
    box-shadow: 1px;
}

.icon{
    position: start;
    width: 200px;
    height: 75px;
    object-fit: cover;
    mix-blend-mode: multiply;
}