
h1{
    display: flex;
    justify-content: center;
    background-color: rgba(242, 242, 247, 0.527);
}
p{
    display: flex;
    justify-content: center;
    background-color: rgba(242, 242, 247, 0.527);
}